<mat-form-field [appearance]="'outline'">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <mat-select
    (valueChange)="valueChanges.emit($event)"
    [formControl]="formControl"
  >
    @for (option of options; track option) {
      <mat-option [value]="option">{{ displayWith(option) }}</mat-option>
    }
  </mat-select>
  @if (!formControl.untouched) {
    @if (formControl.hasError('required')) {
      <mat-error>This field is required</mat-error>
    }
    @if (formControl.hasError('minLength')) {
      <mat-error>This field has too few characters</mat-error>
    }
    @if (formControl.hasError('maxLength')) {
      <mat-error>This field has too many characters</mat-error>
    }
  }
</mat-form-field>
