<div class="landing-container">
  <app-left-menu>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>
        <div style="color: white; padding: 4px 0" class="regular-txt-l">
          Add company
        </div>
        <app-text-form-field
          [label]="'Company name'"
          [formControl]="companyControl"
        />
      </div>
      <div>
        <div style="color: white; padding: 4px 0" class="regular-txt-l">
          Join code
        </div>
        <app-text-form-field
          [label]="'Enter join code'"
          [formControl]="codeControl"
        />
      </div>

      <button type="button" mat-button>Next</button>
    </div>
  </app-left-menu>
</div>
