:host {
  padding: 10px 20px;
  border-radius: 32px;

  &:hover {
    opacity: 0.7;
  }
  a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;

    mat-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
      color: white;
    }
    &.active {
      mat-icon {
        color: var(--secondary_accent, #08a045);
      }
      span {
        color: var(--secondary_accent, #08a045);
      }
    }

    span {
      align-self: center;
    }
  }
}
