a {
  color: white;
  text-decoration: none;
  display: flex;
  gap:10px;

  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: white;
  }
  &.active{
    mat-icon{
      color: var(--secondary_accent, #08A045);
    }
    span{
      color: var(--secondary_accent, #08A045);
    }
  }

  span{
    align-self: center;
  }
}
