<div class="form-page-container">
  <div class="form-steps-container">
    @for ( step of steps$|async ; let i = $index; track step.stepIndex){
      <div
        (click)="onStepClick(step)"
        [ngClass]="{
        'step-complete': step.isValid,
        'step-incomplete': !step.isValid,
        'step-current': (currentStep$ | async)?.stepIndex === step.stepIndex
        }"
        class="step-bubble">
        {{ step.stepIndex }}
      </div>
      @if (steps$ | async ; as steps){
        @if (i < steps.length - 1){
          <div class="step-divider"></div>
        }
      }
    }
  </div>

  <div class="step-page-container">
    <div class="form-step">

      @for (step of steps$|async; track step.stepIndex){
        @if (step === (currentStep$ | async)){
          {{step.template}}
          <ng-container
            *ngTemplateOutlet="step.template || defaultTemplate;
             context: { $implicit: step }
"
          ></ng-container>
        }
      }

    </div>
  </div>
  <button (click)="onNextStep()" [disabled]="!(currentStep$ | async)?.isValid" class="form-continue-btn">
    {{ showButtonLabel() }}
  </button>
</div>


<ng-template #defaultTemplate>
  Empty
</ng-template>
