@defer(when stepConfig) {
  <app-wizard
    [stepConfig]="stepConfig"
    (submit)="onSave()"
  ></app-wizard>
}

<ng-template #firstStep>
  <p>First step</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</ng-template>

<ng-template #secondStep>
  <p>Second Step</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</ng-template>


<ng-template #thirdStep>
  <p>Third Step</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</ng-template>
