@defer(when steps) {
  <app-wizard
    [steps]="steps"
    (submit)="onSave()"
  ></app-wizard>
}

<ng-template #firstStep>
  <app-form-first-step
    [form]= "firstStepForm"
  >
  </app-form-first-step>
</ng-template>

<ng-template #secondStep>
  <app-form-second-step
    [form]="secondStepForm"
  ></app-form-second-step>
</ng-template>


<ng-template #thirdStep>
  <p>Third Step</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</ng-template>
