@use "@angular/material" as mat;

@include mat.core();

$primary-color: #163564;
$accent-color1: #0b6e4f;
$warn-color: #08a045;
$white: #ffffff;

$primary: (
  50: #163564,
  100: #040b14,
  200: #091528,
  300: #0d203c,
  400: #122b50,
  500: #163564,
  600: #2457a4,
  700: #407cd5,
  800: #80a8e3,
  900: #bfd3f1,
  contrast: (
    50: #ffcc00,
    100: #ffdb4d,
    200: #ffe680,
    300: #fff0b3,
    400: #fff5cc,
    500: #fff9e6,
    600: #e6f7ff,
    700: #b3e0ff,
    800: #80ccff,
    900: #4da6ff,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
  ),
);

$accent: (
  50: #0b6e4f,
  100: #021610,
  200: #042d20,
  300: #074330,
  400: #095940,
  500: #0b6e4f,
  600: #12b682,
  700: #2beaae,
  800: #72f1c9,
  900: #b8f8e4,
  contrast: (
    50: #ffcc00,
    100: #ffdb4d,
    200: #ffe680,
    300: #fff0b3,
    400: #fff5cc,
    500: #fff9e6,
    600: #e6f7ff,
    700: #b3e0ff,
    800: #80ccff,
    900: #4da6ff,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
  ),
);

$warn: (
  50: #08a045,
  100: #02200e,
  200: #03401c,
  300: #056029,
  400: #078037,
  500: #08a045,
  600: #0ce161,
  700: #3cf586,
  800: #7df8ae,
  900: #befcd7,
  contrast: (
    50: #ffcc00,
    100: #ffdb4d,
    200: #ffe680,
    300: #fff0b3,
    400: #fff5cc,
    500: #fff9e6,
    600: #e6f7ff,
    700: #b3e0ff,
    800: #80ccff,
    900: #4da6ff,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
  ),
);

$bv-palette-primary: mat.m2-define-palette($primary);
$bv-palette-accent: mat.m2-define-palette($accent);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $bv-palette-primary,
      accent: $bv-palette-accent,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.all-component-themes($theme);

//COLOR THEME
//$primary-color: mat.get-color-from-palette($primary);
$accent-color: mat.m2-get-color-from-palette($accent);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
