:host{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  align-content: center;
  flex-wrap: wrap;
  span{
    align-self: center;
  }

  .form-container{
    display: flex;
    gap: 10px
  }

}
